# Directories
node_modules/
dist/
coverage/
.yarn

# Environment
.env

# Logs
*.log

# Dependency lock files
package-lock.json
yarn.lock

# IDE/Editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

ormconfig.mongodb.json
ormconfig.postgres.json